<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="{{ "/assets/normalize.css" | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/style.css" | relative_url }}">
    <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
    <script src="{{ "/assets/parallax.min.js" | relative_url }}"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,300i|Share+Tech+Mono&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700|Open+Sans:400,600,700&display=swap" rel="stylesheet">
</head>
