<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="{{ "/assets/normalize.css" | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/style.css" | relative_url }}">
    <script
          src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
          integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
          crossorigin="anonymous"></script>
    <script src="{{ "/assets/parallax.min.js" | relative_url }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Orbitron:700|Titillium+Web:300,300i,400,400i&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>
