<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="{{ "/assets/normalize.css" | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/style.css" | relative_url }}">
    <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
    <script src="{{ "/assets/typewriter-bundle.min.js" | relative_url }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Share+Tech+Mono|Open+Sans:400,600,700&display=swap" rel="stylesheet">
</head>
