---
---

$bg: #202039;
$red: #ff6778;
$green: #00ff66;
$blue: #1122ff;
$white: #ccc;
$text: $green;

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: 'Share Tech Mono', sans-serif;
  color: $white;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
}

#case {
    background: #f0ede2;
    background-image: none;
    position: fixed;
    padding: 1rem;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-image: url("http://www.mb3d.co.uk/mb3d/Plastic_Seamless_and_Tileable_High_Res_Textures_files/Scratched_Plastic_01_UV_M_CM_1.jpg");
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#border {
    padding: 12px;
    border-radius: 8px;
    background: $bg;
    box-shadow: inset 0px -2px 1px 8px rgba(185,175,160,1),
                    0px 0px 50px 20px rgba(255, 247, 180, 0.2);
    position: relative;
    width: 100%;
    max-width: 930px;
    box-sizing: border-box;
    overflow: hidden;
    flex: 1;
}

#scanlines {
    background: linear-gradient(rgba(18,16,16,0) 50%, rgba(0,0,0,0.25) 50%),linear-gradient(90deg, rgba(255,0,0,0.06), rgba(0,255,0,0.02), rgba(0,0,255,0.06));
        background-size: auto, auto;
    background-size: 100% 3px, 4px 100%;
    position: absolute;
    z-index: 900;
    margin: 12px;
    top: 0;
    left: 0;
    pointer-events: none;
    right: 0;
    bottom: 0;
}

#display {
    box-sizing: border-box;
    max-width: 928px;
    height: 100%;
    overflow-y: scroll;
    z-index: 50;
    position: relative;
    padding: 8px;
    word-wrap: break-word;
    overflow-x: hidden;
    text-shadow: 0 0 5px rgba(0, 255, 102, 0.4);
}


a, a:visited, a:active {
    color: pink;
    text-decoration: none;
    // padding: 0 4px;
    // border-bottom: 2px solid transparent;
    transition: all 150ms ease-out;
}

a:hover {
    color: #f2d9dd;
    // border-bottom: 2px solid #f2d9dd;
}

.caret {
    animation: 1s blink step-end infinite;
}

#logo-container {
    margin-right: 0;
    text-align: center;
    width: 100%;
}

#logo {
    font-family: Audiowide, sans-serif;
    font-size: 50px;
    white-space: nowrap;
    background: #18497b;
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

@keyframes blink {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: inherit;
  }
}

#text {
  margin-top: 1rem;
  display: none;
}

#display *::selection {
    background: #0f6;
    color: #202039;
}

hr {
    box-sizing: content-box;
    height: 0;
    border-top: 5px double $text;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

blockquote {
  border: 5px double;
  border-radius: 3px;
  width: 95%;
  padding: 0;
  margin: 2rem auto;
}

blockquote p {
  padding: 0 1rem;
}

blockquote p:last-child {
    background: #006000;
    padding: 0 1rem;
    margin: 0;
    border-top: 3px solid;
}

.parallax-window {
    min-height: 300px;
    background: transparent;
}
#footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #bdbdbd;
    border-radius: 6px;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.7), 1px 1px 1px rgba(0,0,0,0.2);
    background-image: url("https://naldzgraphics.net/wp-content/uploads/2014/08/20-brushed-seamless-texture.jpg");
    background-blend-mode: overlay;
    margin-top: 1rem;
    padding: 0.5rem;
}

#footer .row {
    margin-bottom: 5px;
    margin-right: 20px;
}

#footer .row, #footer a {
  color: transparent;
  background-color: #606060;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

#footer a::before {
    margin: 0 8px 0 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.35);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(0,0,0,0.5);
    content: ' ';
    display: inline-block;
    position: relative;
    bottom: 3px;
    margin-left: 4px;
}
#footer a.hover::before {
    background-color: #F00;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5), rgba(255,0,0,0.7) 0 1px 5px;
}

#flash {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  display: none;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Orbitron', sans-serif; */
    text-transform: uppercase;
    font-weight: 300;
}


@media only screen and (min-width: 768px) {
    body {
        font-size: 20px;
    }
    .parallax-window {
        min-height: 450px;
    }
    blockquote {
      max-width: 400px;
    }
    #case {
        padding: 2rem;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    #footer {
        flex-direction: column;
        margin-left: 2rem;
        flex-wrap: nowrap;
        margin-top: 0;
        padding: 1rem;
    }
    #footer .row {
        margin-bottom: 1rem;
        margin-right: 0;
    }
    #logo-container {
        margin-bottom: 0 !important;
    }
    #border {
        height: 100%;
    }
}

h1, h2 {
  color:$text;
  position:relative;
  margin:0 auto;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
#text h1:after,
#text h2:after {
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:$text;
  background:$bg;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
#text h1:before,
#text h2:before {
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue;
  top:0;
  color:$text;
  background:transparent;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}
