<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {{ content }}
        {% include footer.html %}
    </body>
    <script>
      var app = document.getElementById('intro');

function colorise() {
  $('#flash').fadeIn(0).fadeOut(500);
  $('body').css('color','#33ff33');
}

function showManifesto() {
    $('#text').slideDown();
}

var typewriter = new Typewriter(app, {
  loop: false,
  delay: 75,
  cursor: '▊'
});

$(function() {
    typewriter
      .pauseFor(250)
      .typeString('C:\\ > ')
      .pauseFor(1000)
      .typeString('LOAD HARAWAY.EXE\n')
      .pauseFor(500)
      .callFunction(colorise)
      .pauseFor(250)
      .typeString('<p></p>')
      .typeString('LOADED\n')
      .pauseFor(500)
      .typeString('<p></p>')
      .pauseFor(250)
      .typeString('C:\\ > ')
      .pauseFor(1000)
      .typeString('PRINT MANIFESTO.TXT')
      .pauseFor(250)
      .typeString('<p></p>')
      .pauseFor(500)
      .callFunction(showManifesto)
      .start();
});

    </script>
</html>
