<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ "/assets/normalize.css" | relative_url }}">
        <link rel="stylesheet" type="text/css" href="{{ "/assets/style.css" | relative_url }}">
        <script
			  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
			  crossorigin="anonymous"></script>
        <script src="{{ "/assets/parallax.min.js" | relative_url }}"></script>
        <link href="https://fonts.googleapis.com/css?family=Overpass|Titillium+Web&display=swap" rel="stylesheet">
    </head>
    <body>
        {{ content }}
    </body>
    <script type="text/javascript">

        var textColors = ['#E91E63','#FF3399','#FFCC99','#333399','#33CC99'];
        // var textColors = ['#E91E63','#03A9F4','#4CAF50','#FFEB3B','#FF3399','#FFCC99','#333399','#33CC99'];


        function shuffle(array) {
          var currentIndex = array.length, temporaryValue, randomIndex;

          // While there remain elements to shuffle...
          while (0 !== currentIndex) {

            // Pick a remaining element...
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;

            // And swap it with the current element.
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
          }

          return array;
        }

        textColors = shuffle(textColors)

        function invertColor(hex) {
            if (hex.indexOf('#') === 0) {
                hex = hex.slice(1);
            }
            if (hex.length === 3) {
                hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
            }
            if (hex.length !== 6) {
                throw new Error('Invalid HEX color.');
            }
            // invert color components
            var r = (255 - parseInt(hex.slice(0, 2), 16)).toString(16),
                g = (255 - parseInt(hex.slice(2, 4), 16)).toString(16),
                b = (255 - parseInt(hex.slice(4, 6), 16)).toString(16);
            return "#" + padZero(r) + padZero(g) + padZero(b);
        }

        function padZero(str, len) {
            len = len || 2;
            var zeros = new Array(len).join('0');
            return (zeros + str).slice(-len);
        }

        function getRandomColor() {
            var color = Math.round(Math.random() * 0x1000000).toString(16);
            return "#" + padZero(color, 6);
        }
        $(".manifesto-section").each(function(index, element) {
            var textColor = textColors[index];
            var backgroundColor = invertColor(textColor);
            $(this).css({"background-color": backgroundColor, "color": textColor})
        })

    </script>
</html>
